<div><h2> ~ Inventory ~ </h2>

<p><h2><em>Combined Total Assets:</em> £<%= @total_instrument_assets + @total_accessories_assets %></h2></p>

<p><h3><a href="/instruments">Instruments: </a></h3></p>
<p><strong><em>Product Range: </strong></em><%= @stock_count %>
<p><strong><em>Stock Variety: </strong></em><%= @stock_level %>
<p><strong><em>Total Instruments: </strong></em><%= @stock_quantity %>
<p><strong><em>Stock Levels: </strong></em><%= @instrument_stock_level %>
<p><strong><em>Total Instrument Assets: £</strong></em><%= @total_instrument_assets.to_f %>
<p><strong><em>Total Cost Price: £</em></strong><%= @instrument_markup.to_f %>
<p><strong><em>Markup Profits: £</em></strong><%= @total_instrument_assets.floor - @instrument_markup.floor %></p>

<p><h3><a href="/accessories">Accessories: </a></h3></p>
<p><strong><em>Product Range: </strong></em><%= @stock_count_accessories %></p>
<p><strong><em>Stock Variety: </strong></em><%= @stock_level_accessories %></p>
<p><strong><em>Total Accessories: </strong></em><%= @stock_quantity_accessories %></p>
<p><strong><em>Stock Levels: </strong></em><%= @accessory_stock_level %></p>
<p><strong><em>Total Accessory Assets: £</strong></em><%= @total_accessories_assets.to_f %></p>
<p><strong><em>Total Cost Price: £</em></strong><%= @accessories_markup.to_f %></p>
<p><strong><em>Markup Profits: £</em></strong><%= @total_accessories_assets.floor - @accessories_markup.floor %></p>

</div>