<div>
  <h1> ~ Inventory ~ </h1>
</div>

<p><h2><a href="/instruments">Instruments: </a></h2></p>
<p><strong><em>Product Range: </strong></em><%= @stock_count %>
  <p><strong><em>Stock Variety: </strong></em><%= @stock_level %>
    <br>
    <p><strong><em>Total Instruments: </strong></em><%= @stock_quantity %>
      <p><strong><em>Stock Levels: </strong></em><%= @instrument_stock_level %>

        <p><strong><em>Total Instrument Assets: £</strong></em><%= @total_instrument_assets %>
          <p><strong><em>Total Cost Price: £</em></strong><%= @instrument_markup %>
            <p><strong><em>Markup Profits: £</em></strong><%= @total_instrument_assets - @instrument_markup %>
            </p>



            <p><h2><a href="/instruments">Accessories: </a></h2></p>
            <p><strong><em>Product Range: </strong></em><%= @stock_count_accessories %>
              <p><strong><em>Stock Variety: </strong></em><%= @stock_level_accessories %>
                <br>
                <p><strong><em>Total Accessories: </strong></em><%= @stock_quantity_accessories %>
                  <p><strong><em>Stock Levels: </strong></em><%= @accessory_stock_level %>

                    <p><strong><em>Total Accessory Assets: £</strong></em><%= @total_accessories_assets %>
                      <p><strong><em>Total Cost Price: £</em></strong><%= @accessories_markup %>
                        <p><strong><em>Markup Profits: £</em></strong><%= @total_accessories_assets - @accessories_markup %>




                          <p><h2><u>Combined Total Assets: £<%= @total_instrument_assets + @total_accessories_assets %></u></h2></p>
