<h2>Update Instrument</h2>

<form action="/instruments/<%= @instrument.id %>" method="post">
  <input type="hidden" name="_method" value="put" />

  <label for="type"><p>Type:</p> </label>
  <input type="text" name="type" value="<%= @instrument.type() %>">

  <label for="brand"><p>Brand:</p> </label>
  <input type="text" name="brand" value="<%= @instrument.brand() %>">

  <label for="quantity"><p>Quantity:</p> </label>
  <input type="number" name="quantity" min="0" value="<%= @instrument.quantity() %>"><br>

  <label for="cost"><p>Retail Price:</p> </label>
  <input type="number" step="any" name="cost" value="<%= @instrument.cost() %>">

  <label for="cost_price"><p>Cost Price:</p></label>
  <input type="number" step="any" name="cost_price" value="<%= @instrument.cost_price() %>"><br> 

  <p><input type='submit' value="Update Instrument"></p>
</form>

<form onsubmit="return confirm('Are you sure you want to delete this instrument?')" action="/instruments/<%= @instrument.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete Instrument</button>
</form>
<br>
<a href="/instruments"><h3>Back</h3></a>



  

