

<a href="/instruments/new"><h3>~ Add a new Instrument ~</h3></a>
<p><h3><em>~ Details ~</em></h3></p>
<% @instrument.each do |instrument| %>
<div class="grid">
  <div class="grid-row grid-row-sm">
    <div class="cell"><a href="/instruments/<%= instrument.id %>"><%= instrument.brand %></a></div>
    <div class="cell"><%= instrument.type %></div>
    <div class="cell">£<%= instrument.cost %></div>
    <div class="cell"><a href="/instruments/<%= instrument.id %>/edit">Edit</a></div>
  </div>
<% end %>