<div id="content">
<h1>Instruments</h1>
<li><a href="/instruments/new">Add a new Instrument</a></li>
<% @instrument.each do |instrument| %>

<p>Instrument details</p>
<p><a href="/instruments/<%= instrument.id %>"></p>
    <p><%= instrument.type %></p></a>
    <p><%= instrument.brand %> - £<%= instrument.cost %></p> 
    <p><em>Quantity: </em><%= instrument.quantity %></p>

<a href="/instruments/<%= instrument.id %>/edit">Edit Instrument</a>
  <hr>
<% end %>
</div>

