<div id="content">
<h2>Instrument Details</h2>
<p>
<%= @instrument.type %> - <%= @instrument.brand %> - £<%= @instrument.cost %> 
<p>There are now <%= @instrument.quantity %> in stock</p>

</form>
<a href="/instruments/<%= @instrument.id %>/edit ">Edit Instrument</a>
</div>

