<div id="content">
  <h2>Accesory Details</h2>
  <p>
    <%= @accessory.type %> - <%= @accessory.brand %> 

    <p>The RETAIL PRICE is £<%= @accessory.cost %></p> 

    <p>The COST PRICE is £<%= @accessory.cost_price %></p>

    <p>There are now <%= @accessory.quantity %> in stock</p>

    <p> This stock level is: <%= @accessory.accessory_quantity %></p>

    <a href="/accessories/<%= @accessory.id %>/edit ">Edit Accessory</a>
  </div>
  <p>
  <a href="/accessories"><h3>Back</h3></a>
  </p>